@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;

.container {
  margin-block: rem-calc(200 40);

  .body {
    h1 {
      font-size: rem-calc(36);
      font-weight: 700;
      color: $blue-500;
      margin-bottom: rem-calc(76);
    }

    h2 {
      font-size: rem-calc(28);
      font-weight: 700;
      color: $black-950;
      padding-block: rem-calc(48 24);
    }

    h3 {
      font-size: rem-calc(22);
      font-weight: 700;
      color: $black-950;
      padding-block: rem-calc(24);
    }

    p,
    ul,
    ol,
    blockquote {
      font-size: rem-calc(16);
      padding-bottom: rem-calc(24);
      overflow-wrap: break-word;
      color: $black-800;
      line-height: 130%;
    }

    ul {
      padding-left: rem-calc(24);
      list-style-type: disc;

      li {
        font-size: rem-calc(16);
        color: $black-800;
        line-height: 130%;
        margin-bottom: rem-calc(4);

        &::marker {
          color: $black-800;
        }
      }
    }

    ol {
      padding-left: rem-calc(24);
      list-style-type: decimal;

      li {
        font-size: rem-calc(16);
        color: $black-800;
        line-height: 130%;
        margin-bottom: rem-calc(8);

        &::marker {
          color: $black-800;
        }
      }
    }

    a {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}
