@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.root {
  &.container {
    .tabsWrapper {
      position: sticky;
      top: rem-calc(74);
      z-index: 9;
      background-color: $white;

      @include media(0, 'md') {
        display: none;
      }
    }

    .contentWrapper {
      @include media(0, 'md') {
        padding-top: 0;
      }
    }
  }
}
