@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.container {
  padding-block: rem-calc(212 124);

  @include media(0, 'md') {
    padding-top: rem-calc(188);
  }

  .imageWrapper {
    position: relative;
    height: rem-calc(458);
    border-radius: rem-calc(16);
    overflow: hidden;
    background-color: $black-200;

    @include media(0, 'md') {
      height: rem-calc(224);
    }

    .image {
      object-fit: cover;
      object-position: center;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: rem-calc(24);
    margin-inline: auto;
    max-width: rem-calc(846);
    font-family: $primary-font-family;
    color: $black-950;

    h1 {
      font-size: rem-calc(36);
      font-weight: 700;
      display: none;
    }

    h2 {
      font-size: rem-calc(28);
      font-weight: 700;
      line-height: 110%;
    }

    h3 {
      font-size: rem-calc(22);
      font-weight: 500;
    }

    h4 {
      font-size: rem-calc(18);
      font-weight: 700;
    }

    h5 {
      font-size: rem-calc(16);
      font-weight: 400;
    }

    em {
      font-size: rem-calc(14);
      font-weight: 500;
    }

    p {
      color: $black-800;
      font-size: rem-calc(16);
      font-weight: 500;
      line-height: 170%;
    }

    a {
      color: $blue-500;

      &:hover {
        color: $blue-600;
        text-decoration: underline;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .divider {
    width: 100%;
    border-color: $black-500;
    border-width: re-calc(0.5);
  }

  .socials {
    color: $black-500;

    .iconButton {
      height: rem-calc(42);
      width: rem-calc(42);
    }
  }

  .category {
    position: relative;
    padding-left: rem-calc(8);
    color: $black-500;
    text-decoration: underline;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%);
      width: rem-calc(4);
      height: rem-calc(4);
      border-radius: 100%;
      background-color: $black-500;
    }
  }
}
