@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.root {
  &.container {
    margin-block: rem-calc(90 10);
    display: flex;
    gap: rem-calc(20);

    @include media(0, 'md') {
      margin-block: rem-calc(98 32);
    }
  }
}
