@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.root {
  &.container {
    background-color: $white;
    padding: rem-calc(16);
    border-bottom: rem-calc(1) solid $black-200;

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .backButton {
        position: absolute;
        left: 0;
      }
    }
  }
}
