@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.container {
  background-color: $white;
  border-bottom: rem-calc(1) solid $black-200;
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }

  &.obligatory {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}
