@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;

.root {
  &.list {
    gap: 0;

    .item {
      cursor: pointer;
      padding: rem-calc(4 12);
      border-radius: rem-calc(12);

      &.active {
        background-color: $blue-50;
      }
    }
  }
}
