@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.container {
  padding: rem-calc(16);
  border: rem-calc(1) solid $black-200;
  border-radius: rem-calc(10);
  display: flex;
  gap: rem-calc(16);
  height: 100%;

  &.gridView {
    flex-direction: column;
  }

  @include media(0, 'md') {
    flex-direction: column;
    gap: rem-calc(24);
  }

  .imageWrapper {
    position: relative;
    width: rem-calc(388);
    height: rem-calc(268);
    border-radius: rem-calc(12);

    &.gridView {
      width: 100%;
    }

    @include media(0, 'md') {
      width: 100%;
    }
  }
}
