@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.container {
  background-color: $blue-50;
  border-radius: rem-calc(12);
  gap: rem-calc(24);

  .vector {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding-left: rem-calc(24);

    @include media(0, 'lg') {
      justify-content: center;
      margin: auto;
    }
  }

  .content {
    flex: 1;
    padding: rem-calc(32 24);

    @include media(0, 'lg') {
      padding: rem-calc(24 16 16);
    }
  }
}
