@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;

.root {
  &.error {
    background-color: $red-50;
    color: $red-500;
  }

  &.warning {
    background-color: $yellow-50;
    color: $yellow-500;
  }

  &.success {
    background-color: $green-50;
    color: $green-500;
  }

  &.info {
    background-color: $blue-50;
    color: $blue-600;
  }
}
