@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.countryWrapper {
  position: relative;
  width: rem-calc(28);
  height: rem-calc(28);
  flex-shrink: 0;

  .country {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
