@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.container {
  height: 100dvh;

  .contentWrapper {
    height: 100dvh;

    .content {
      height: 100%;
      display: flex;
      flex-direction: column;

      .form {
        margin-block: auto;
      }
    }
  }

  .imageContainer {
    z-index: -1;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    @include media(0, 'md') {
      display: none;
    }

    .vector {
      display: flex;
      align-items: stretch;
      justify-content: center;
      height: 100%;

      svg {
        height: 100%;
        max-width: fit-content;
      }
    }
  }
}
