@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.container {
  border: none;
  padding: rem-calc(48 0);

  &.lastStep {
    padding-block: rem-calc(0 48);
  }

  @include media(sm) {
    border: rem-calc(1) solid $black-200;
    border-radius: rem-calc(10);
    padding: rem-calc(24 16);

    &.compact {
      padding: 0;
      border: none;
    }
  }

  .card {
    display: flex;
    align-items: center;
    gap: rem-calc(16);

    .cardMedia {
      position: relative;
      width: rem-calc(104);
      height: rem-calc(104);

      .image {
        border-radius: rem-calc(5);
        object-fit: cover;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: rem-calc(0);
      gap: rem-calc(4);

      .title {
        max-width: rem-calc(218);
      }

      .icon {
        color: $black-300;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
          color: $black-950;
        }
      }
    }
  }
}
