@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.container {
  max-height: calc(100vh - rem-calc(86));
  overflow-y: auto;
  padding: rem-calc(24 16);
  border-radius: rem-calc(12);
  border: rem-calc(1) solid $black-200;
  background-color: $white;
  box-shadow: $box-shadow-caledar;
}
