@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.container {
  .socials {
    &.socialList {
      padding-top: rem-calc(16);
      display: flex;
      flex-direction: row;
      gap: rem-calc(12);
    }
  }
}
