@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.container {
  margin-top: rem-calc(104);
  display: flex;
  flex-direction: column;
  gap: rem-calc(24);

  .form {
    display: flex;
    flex-direction: column;
    gap: rem-calc(24);
    align-items: flex-end;

    .button {
      width: 100%;
      max-width: rem-calc(236);

      @include media(0, 'sm') {
        max-width: 100%;
      }
    }
  }
}
