@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.container {
  height: 100%;
  width: 100%;
  margin-top: rem-calc(74);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .list {
    padding-top: rem-calc(16);
    gap: 0;
  }

  .listLoggedOut {
    padding-top: rem-calc(24);
  }

  .buttonWrapper {
    padding: rem-calc(16 16 24 16);
  }
}
