@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.container {
  width: 100%;

  .content {
    color: $black-950;
    width: 100%;
    border: rem-calc(1) solid $black-200;
    border-radius: rem-calc(10);
    padding: rem-calc(16);

    @include media(0, 'md') {
      border: none;
      padding: 0;
    }
  }
}
